
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="row row2">
    <div class="col-md-6">

        <div class="contact-form">
            <div class="contact-top-header">
                <h3>Contact Us</h3>
            </div>
            <div id="success"><span>Your message was sent successfully! I will be in touch as soon as I can.</span></div>
            <div id="error"><span>Something went wrong, try refreshing and submitting the form again.</span></div>
            <form id="contact" name="contact" method="post">

                <div class="row row2">
                    <div class="col-md-6">
                        <span><input type="text" name="txtName" id="txtName" class="textbox" placeholder="Name" required=""></span>
                    </div>
                    <div class="col-md-6">
                        <span><input type="text" name="txtEmail" id="txtEmail" class="textbox" placeholder="Email" required=""></span>
                    </div>
                </div>

                <div>
                    <span><textarea name="txtMessage" id="txtMessage" placeholder="Message" required=""></textarea></span>
                </div>
                <div style="text-align:right;">
                    <span><input type="submit" name="submit" id="submit" value="Send"></span>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="socialmedia-block">
            <div class="contact-top-header">
                <h3>Get in Touch</h3>
            </div>
            <div class="social_media">
                <ul>
                    <li>
                        <a href="#" class="btn btn-block btn-social btn-lg btn-facebook">
                            <i class="fa fa-facebook"></i> Like us in Facebook
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-block btn-social btn-lg btn-twitter">
                            <i class="fa fa-twitter"></i> Follow us in Twitter
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-block btn-social btn-lg btn-google">
                            <i class="fa fa-google-plus"></i> Share in Google
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

