
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}


<div class="PageContent">

    <div class="block-error">
        <div class="error-num">404</div>
        <div class="error-text">Page not found</div>

        <div class="error-description">Unfortunately we're having trouble loading the page you are looking for. Please wait a moment and try again or use action below.</div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-info btn-block" onclick="document.location.href = '../Home/Index';">Back to Home</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-block" onclick="history.back();">Previous page</button>
            </div>
        </div>
    </div>

</div>