
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<style>
    p {
        font-weight: 100;
    }
</style>
<div class="container">

    <div class="row">


        <h2>Privacy Policy</h2>

        <p>Commitment</p>
        <p>
            IndianDecision.in is committed to protecting your privacy.
            It is important for you to understand what Personal Information we will collect, how we will use it and who may see this information.
        </p>
        <p>What We Collect</p>
        <p>
            We only collect your personal information when you provide it to us through our Contact Us page.
            The information we may collect includes:
        </p>
        <ul>
            <li>Name</li>
            <li>Email address</li>
        </ul>
        <p>Use Of Information</p>
        <p>
            We will only use your Personal Information for the purposes it was collected.
            We do not sell or disclose the Personal Information we collect from you to any outside parties without your consent to do so.
            We use third-party advertising companies to serve advertisements when you visit our Website.
            These companies may use information (not including your name, address, email address or telephone number) about your visits to this and other Web sites in order to provide advertisements about goods and services of interest to you.
        </p>
        <p>Disclosure Of Information</p>
        <p>
            We reserve the right to disclose Personal Information if required to do so by law, with legal process,
            respond to protect the rights safety of IndianDecision.in or the public.
            If you have any questions or comments about, please contact us through our <a href="../home/contact-us">Contact Us</a> Page.
        </p>
        <p>The Privacy Policy may be changed from time to time without any notice. Revisions will be posted on IndianDecision.in.</p>



    </div>
</div>

