
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="page-header">Overview</h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Investment (Rupees)</th>
                <th>Income (Rupees)</th>
                <th>Time Spent (Hours)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.Investment</td>
                <td>@ViewBag.Income</td>
                <td>@ViewBag.TimeSpent</td>
               
            </tr>
            @*<tr>
                <td>1,002</td>
                <td>amet</td>
                <td>consectetur</td>
                <td>adipiscing</td>
                <td>elit</td>
            </tr>*@
           
        </tbody>
    </table>
</div>



